html, body {
    background-color: #53917E;
    margin: 0;
    text-align: center;
    font-family: Comfortaa;
}

h2 {
    font-size: 3em;
}

.title {
    font-size: 4.5em;
    font-family: Poetsen One;
    font-weight: 100;
    margin-bottom: -10px;
}

.card {
    width: 50vw;
    min-height: 40vh;
    background-color: #DDFCADE6;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    text-align: center;
    color: #754F44;
    padding: 0.25em 2em 2em 2em;
}

.card div ol li {
    font-size: x-large;
    margin-bottom: 1.5em;
}

.card .grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card .grid img, .card .grid .grid-element {
    border-radius: 50px;
    width: 30vw;
}

.card:nth-child(even) {
    background-color: #D9DBF1E6;
}

.card:nth-child(odd) .grid img, .card:nth-child(odd) .grid .grid-element {
    float: right;
    margin-left: 0.5em;
}

.card:nth-child(even) .grid img, .card:nth-child(even) .grid .grid-element {
    float: left;
    margin-right: 0.5em;
}

.card:nth-child(1) {
    padding-top: initial;
}

.card ol li {
    margin-bottom: 10px;
    text-align: left;
}

.card p {
    font-family: Lato;
    font-size: 1.5em;
    font-weight: 500;
}

.checkmarks {
    list-style: none;
    font-size: 1.5em;
}

.checkmarks li {
    margin-left: 20px;
    padding-left: 10px;
}

.checkmarks li::before {
    content: "\2713";
    width: 10px;
    margin-left: -10px;
    margin-right: 0.8em;
    float: left;
}

.card .checkmarks li {
    margin-bottom: 2em;
}

.mountains {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 0;
}

.mountains img {
    width: 100%;
}

.content {
    position: relative;
    z-index: 1;
}