:root{
    --text-color:white;
    --main-color:rgb(15, 180, 15);
}
body{
   background-color: rgb(0, 0, 0);
   color: var(--text-color);
   font-family: monospace;
}
::-webkit-scrollbar {
    display: none;
}

#i1{
    margin-left: -39px;
    margin-top: -39px;
}
#box{
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
height: 45px;
margin-top: 14px;
margin-left: 500px;
width: 450px;
top: -2px;
display: flex;
position: fixed;
justify-content: center;
align-items: center;
z-index: 10;
}
#l1{
    color: white;
    text-decoration: none;
    margin-left: 25%;
    margin: 5%;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#l1:hover{
    color: var(--main-color);
}
#l2{
    color: white;
    margin: 3%;
    text-decoration: none; 
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#l2:hover{
    color: rgb(15, 180, 15);
}
#l3{
    color: white;
    text-decoration: none; 
    font-size: 15px;
    margin: 3%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#l3:hover{
    color: rgb(15, 180, 15);
}
#l4{
    color: white;
    text-decoration: none;  
    margin-left: 5%;
    background-color: rgb(15, 180, 15);
    padding: 5px;
    border-radius: 4px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* End */

/* Logos belt 1 */
.logos-slide img {
    height: 220px;
    padding: 0, 0;
    margin: 1%;
}

.logos-slide {
    white-space: nowrap;
    animation: 60s slide infinite linear;
    background-color: black;
}

.logos {
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}
/* end */

/* title section */
#box2{
    height: 150%;
    background-color: rgb(0, 0, 0);
    width: 50%;
    margin-top: -410px;
    margin-left: 45%;
    
}
#title{
    font-size: 90px;
}
#p{
    font-size: 20px;
}
#b2{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 115%;
    background-color: rgb(15, 180, 15);
    border: none;
    color: white;
    border-radius: 5px;
}
/* End */
#p2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 45px;
}
#e{
    text-align: center;
background: rgba(12, 102, 0, 0.42);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 2px solid rgba(12, 102, 0, 0.84);

}
#img1{
    width: 320px;
    border-radius: 15px;
    margin-left: -900px;
    border: 5px rgba(12, 102, 0, 0.84) solid;
}
#it{
    margin-left: -900px;
}
#img2{
    width: 320px;
    border-radius: 15px;
    margin-left: -50px;
    margin-top: -24%;
    border: 5px rgba(12, 102, 0, 0.84) solid;
}
#it2{
    margin-left: -60px;
}
#img3{
    width: 320px;
    border-radius: 15px;
    margin-left: 800px;
    margin-top: -24%;
    border: 5px rgba(12, 102, 0, 0.84) solid;
}
#it3{
    margin-left:780px;
}
